In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\divya reddy\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\divya reddy\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\divya reddy\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\divya reddy\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\divya reddy\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: attrs>=20.1.0 in c:\users\divya reddy\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\divya reddy\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\divya reddy\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\divya reddy\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\divya reddy\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\divya reddy\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\divya reddy\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: wsproto>=0.14 in c:\users\divya reddy\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\divya reddy\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\divya reddy\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\divya reddy\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
!pip install webdriver-manager

Requirement already satisfied: webdriver-manager in c:\users\divya reddy\anaconda3\lib\site-packages (3.8.6)
Requirement already satisfied: requests in c:\users\divya reddy\anaconda3\lib\site-packages (from webdriver-manager) (2.29.0)
Requirement already satisfied: python-dotenv in c:\users\divya reddy\anaconda3\lib\site-packages (from webdriver-manager) (1.0.0)
Requirement already satisfied: tqdm in c:\users\divya reddy\anaconda3\lib\site-packages (from webdriver-manager) (4.65.0)
Requirement already satisfied: packaging in c:\users\divya reddy\anaconda3\lib\site-packages (from webdriver-manager) (23.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\divya reddy\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\divya reddy\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\divya reddy\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\divya reddy\anaconda3\lib\site-packages (from requests->webdriver-manager) (2023.5.7)
Requirement already satisfied: colorama in c:\users\divya reddy\anaconda3\lib\site-packages (from tqdm->webdriver-manager) (0.4.6)

Q1: Write a python program to scrape data for ‚ÄúData Analyst‚Äù Job position in ‚ÄúBangalore‚Äù location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [6]:
driver = webdriver.Chrome()

In [7]:
# 1. First get the webpage
driver.get("https://www.naukri.com/")

In [8]:
# entering designation and location as required in the question

designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [9]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [10]:
#Then click the searchbutton.

search = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [11]:
job_title = []
job_location = []
company_name =[]
experience_required = []

In [12]:
#Then scraping the data for the first 10 jobs results.

title_tags = driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')

for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

In [13]:
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')

for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

In [14]:
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

In [15]:
experience_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')

for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [16]:
print(len(job_title),len(job_location),len(company_name), len(experience_required))

0 0 0 0

In [17]:
#creating DataFrame of Scrapped data

import pandas as pd

In [18]:
df = pd.DataFrame({'Title':job_title, 'Location':job_location, 'Company_name':company_name, 'Experience':experience_required})

In [19]:
df

Empty DataFrame
Columns: [Title, Location, Company_name, Experience]
Index: []

Q2:Write a python program to scrape data for ‚ÄúData Scientist‚Äù Job position in ‚ÄúBangalore‚Äù location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:

In [20]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [21]:
driver = webdriver.Chrome()

In [22]:
#first get the webpage

driver.get("https://www.naukri.com/")

In [23]:
# entering designation and location as required in the question

designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [24]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [25]:
#Then click the searchbutton.

search = driver.find_element(By.XPATH, "/html/body/div[1]/div[7]/div/div/div[6]")
search.click()

In [26]:
job_title = []
job_location = []
company_name =[]

In [27]:
#Then scraping the data for the first 10 jobs results.

title_tags = driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')

for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

In [28]:
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')

for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

In [29]:
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

In [30]:
print(len(job_title),len(job_location),len(company_name))

0 0 0

In [31]:
#creating DataFrame of Scrapped data

import pandas as pd

In [32]:
df = pd.DataFrame({'Title':job_title, 'Location':job_location, 'Company_name':company_name})

In [33]:
df

Empty DataFrame
Columns: [Title, Location, Company_name]
Index: []

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for ‚ÄúData Scientist‚Äù designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is ‚ÄúDelhi/NCR‚Äù. The salary filter to be used is ‚Äú3-6‚Äù lakhs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image

In [9]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings("ignore")
import time

In [10]:
driver = webdriver.Chrome()

In [11]:
#first get the webpage

driver.get("https://www.flipkart.com/")

In [12]:
#remove the pop up page
pop_up_page =driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
pop_up_page.click()

In [16]:
search_product = driver.find_element(By.CLASS_NAME,'_3704LK')
search_product.send_keys('sunglasses')

In [17]:
#click on the search buttone

search_button =driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_button.click()
time.sleep(5)

In [14]:
Brand = []
Product_Description = []
Price= []
offer = []

In [18]:
Brand = []
for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    Brand.append(i.text)

In [19]:
Product_Description = []
for i in driver.find_elements(By.CLASS_NAME,'IRpwTa'):
    Product_Description.append(i.text)

In [20]:
Price = []
for i in driver.find_elements(By.CLASS_NAME,'_30jeq3'):
    Price.append(i.text)

In [21]:
offer = []
for i in driver.find_elements(By.CLASS_NAME,'_3Ay6Sb'):
    offer.append(i.text)

In [24]:
print(len(Brand),len(Product_Description),len(Price),len(offer))

40 40 45 45

In [25]:
next = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next.click()

In [26]:
for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    Brand.append(i.text)

In [27]:
for i in driver.find_elements(By.CLASS_NAME,'IRpwTa'):
    Product_Description.append(i.text)

In [28]:
for i in driver.find_elements(By.CLASS_NAME,'_30jeq3'):
    Price.append(i.text)

In [29]:
for i in driver.find_elements(By.CLASS_NAME,'_3Ay6Sb'):
    offer.append(i.text)

In [30]:
print(len(Brand),len(Product_Description),len(Price),len(offer))

80 80 90 90

In [31]:
#Do next untill you get 100 results 
nex = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
nex.click()

In [32]:
for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    Brand.append(i.text)

In [33]:
for i in driver.find_elements(By.CLASS_NAME,'IRpwTa'):
    Product_Description.append(i.text)

In [34]:
for i in driver.find_elements(By.CLASS_NAME,'_30jeq3'):
    Price.append(i.text)

In [35]:
for i in driver.find_elements(By.CLASS_NAME,'_3Ay6Sb'):
    offer.append(i.text)

In [36]:
print(len(Brand),len(Product_Description),len(Price),len(offer))

120 120 135 135

In [41]:
import pandas as pd

In [42]:
#creating a DataFrame

df = pd.DataFrame({'Brand Name':Brand[0:100], "Product Decription":Product_Description[0:100], 'Price':Price[0:100], 'Offer':offer[0:100]})

In [43]:
df

,Brand Name,Product Decription,Price,Offer
0,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)",‚Çπ949,52% off
1,RED MONK,UV Protection Round Sunglasses (90),‚Çπ370,62% off
2,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",‚Çπ168,71% off
3,SDEEP,"UV Protection, Others Spectacle Sunglasses (Fr...",‚Çπ185,80% off
4,SRPM,UV Protection Wayfarer Sunglasses (50),‚Çπ194,85% off
...,...,...,...,...
95,New Specs,UV Protection Oval Sunglasses (Free Size),‚Çπ579,35% off
96,ROYAL SON,"UV Protection Rectangular, Retro Square Sungla...",‚Çπ693,65% off
97,Eyewearlabs,"Polarized, UV Protection Retro Square Sunglass...","‚Çπ1,799",50% off
98,Cool enter,UV Protection Spectacle Sunglasses (15),‚Çπ239,85% off
99,ROZZETTA CRAFT,"UV Protection, Gradient Butterfly, Shield Sung...",‚Çπ249,64% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART

In [44]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings("ignore")
import time

In [45]:
driver = webdriver.Chrome()

In [46]:
#first get the webpage

driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [52]:
Ratings =[]
Review_Summary =[]
Full_review =[]

In [53]:
for page in range(0,10):
    for i in driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]'):
        Ratings.append(i.text)

In [59]:
for page in range(0,10):
    for i in driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]'):
        Review_Summary.append(i.text)

In [60]:
for page in range(0,10):
    for i in driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]'):
        Full_review.append(i.text)

In [61]:
print(len(Ratings),len(Review_Summary),len(Full_review))

100 110 120

In [ ]:
phone = pd.DataFrame({'Star':star, 'Comments':comm, 'Brief':bri})

In [65]:
import pandas as pd

In [67]:
reviews = pd.DataFrame({'Ratings':Ratings[0:100],'Review Summary':Review_Summary[0:100],'Full Review':Full_review[0:100]})

In [68]:
reviews

,Ratings,Review Summary,Full Review
0,5,Terrific,Very very good
1,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
2,5,Brilliant,Excellent Phone.
3,5,Wonderful,This is amazing at all
4,5,Must buy!,It‚Äôs really awesome
...,...,...,...
95,5,Just wow!,Perfect Product!!
96,5,Perfect product!,V Good all
97,5,Mind-blowing purchase,Photos super
98,5,Fabulous!,Superüî• and good performance üëå‚ù§Ô∏è
99,5,Best in the market!,Good Camera

Q6: Scrape data forfirst 100 sneakers you find when you visit flipkart.com and search for ‚Äúsneakers‚Äù in the
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [3]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings("ignore")
import time

In [4]:
driver = webdriver.Chrome()

In [5]:
#first get url
driver.get("https://www.flipkart.com/")

In [6]:
#remove the pop up page
pop_up_page =driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
pop_up_page.click()

In [7]:
search_product = driver.find_element(By.CLASS_NAME,"_3704LK")
search_product.send_keys('sneakers')

In [8]:
#click on the search buttone

search_button =driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_button.click()
time.sleep(5)

In [9]:
Brand = []
Product_Description = []
Price= []

In [19]:
Brand = []
for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    Brand.append(i.text)

In [20]:
Product_Description = []
for i in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
    Product_Description.append(i.text)

In [21]:
Price = []
for i in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
    Price.append(i.text)

In [22]:
print(len(Brand),len(Product_Description),len(Price))

40 39 40

In [23]:
next = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next.click()

In [24]:
for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    Brand.append(i.text)

In [25]:
for i in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
    Product_Description.append(i.text)

In [26]:
for i in driver.find_elements(By.CLASS_NAME,'_30jeq3'):
    Price.append(i.text)

In [27]:
print(len(Brand),len(Product_Description),len(Price))

80 77 85

In [28]:
#Do next untill you get 100 results 
nex = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
nex.click()

In [29]:
for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    Brand.append(i.text)

In [30]:
for i in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
    Product_Description.append(i.text)

In [31]:
for i in driver.find_elements(By.CLASS_NAME,'_30jeq3'):
    Price.append(i.text)

In [32]:
print(len(Brand),len(Product_Description),len(Price))

120 113 130

In [33]:
import pandas as pd

In [34]:
sneakers = pd.DataFrame({'Brand Name':Brand[0:100], "Product Decription":Product_Description[0:100], 'Price':Price[0:100]})

In [35]:
sneakers

         Brand Name                                 Product Decription   Price
0            lejano                                   Sneakers For Men    ‚Çπ429
1             BIRDE  Premium Sports Shoes For Men Pack Of 2 Sneaker...    ‚Çπ479
2            BRUTON               Modern Trendy Shoes Sneakers For Men    ‚Çπ349
3              aadi  Lightweight,Comfort,Summer,Trendy,Walking,Outd...    ‚Çπ479
4            Kraasa                                 Sneakers For Women    ‚Çπ399
..              ...                                                ...     ...
95         HOTSTYLE  Latest Exclusive Affordable Collection of Tren...  ‚Çπ4,269
96  U.S. POLO ASSN.                      CLUB CULTURE Sneakers For Men  ‚Çπ1,799
97       HIGHLANDER                         Hustle V2 Sneakers For Men    ‚Çπ499
98            BIRDE  Lightweight,Comfort,Summer,Trendy,Walking,Outd...    ‚Çπ399
99         HOTSTYLE                     Smash V2 Buck Sneakers For Men    ‚Çπ549

[100 rows x 3 columns]

Q7: Go to webpage https://www.amazon.in/ Enter ‚ÄúLaptop‚Äù in the search field and then click the search icon. Then
set CPU Type filter to ‚ÄúIntel Core i7‚Äù as shown in the below image:

In [36]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings("ignore")
import time

In [37]:
driver = webdriver.Chrome()

In [38]:
driver.get('https://www.amazon.in/')

In [41]:
search_product = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_product.send_keys('Laptop')

In [42]:
#click on the search button

search_button =driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_button.click()
time.sleep(5)

In [43]:
core = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[7]/span[11]/li/span/a/span')
core.click()

In [44]:
Title = []
for i in driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]'):
    Title.append(i.text)

In [50]:
Ratings = []
for i in driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]'):
    Ratings.append(i.text)

In [46]:
Price = []
for i in driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]'):
    Price.append(i.text)

In [51]:
print(len(Title),len(Ratings),len(Price))

24 30 31

In [52]:
import pandas as pd

In [53]:
Laptops = pd.DataFrame({'Title':Title[0:10],'Ratings':Ratings[0:10],'Price':Price[0:10]})

In [54]:
Laptops

                                               Title Ratings     Price
0  ASUS Creator Series Vivobook 14X OLED (2023), ...            89,990
1  Lenovo IdeaPad Gaming 3 Intel Core i7-12700H 1...            98,500
2  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...            93,990
3  Lenovo [SmartChoice] IdeaPad Slim 3 Intel Core...            62,990
4  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...            61,990
5  Acer Nitro 5 AN515-58 Gaming Laptop 12th Gen I...          1,04,990
6  HP Pavilion 14, 11Th Gen Intel Core I7-16Gb Ra...            79,990
7  Dell Vostro 5630 13th Gen Laptop, Intel Core i...            90,004
8  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...            80,990
9  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...            71,490

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.

In [110]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings("ignore")
import time

In [111]:
driver = webdriver.Chrome()

In [112]:
#first get url

driver.get('https://www.azquotes.com/')

In [113]:
#click on Top Quotes

Top_Quotes = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div/div[3]/ul/li[5]/a')
Top_Quotes.click()

In [114]:
Quote = []
for i in driver.find_elements(By.XPATH,'//a[@class="title"]'):
    Quote.append(i.text)

In [115]:
Author = []
for i in driver.find_elements(By.XPATH,'//div[@class="author"]'):
    Author.append(i.text)

In [116]:
Quote_Type = []
for i in driver.find_elements(By.XPATH,'//div[@class="tags"]'):
    Quote_Type.append(i.text)

In [117]:
print(len(Quote),len(Author),len(Quote_Type))

100 100 100

In [118]:
next = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[12]/a')
next.click()

In [119]:
for i in driver.find_elements(By.XPATH,'//a[@class="title"]'):
    Quote.append(i.text)

In [120]:
for i in driver.find_elements(By.XPATH,'//div[@class="author"]'):
    Author.append(i.text)

In [121]:
for i in driver.find_elements(By.XPATH,'//div[@class="tags"]'):
    Quote_Type.append(i.text)

In [122]:
print(len(Quote),len(Author),len(Quote_Type))

200 200 200

In [123]:
#Do next untill you get 1000 results 
next = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[13]/a')
next.click()

In [124]:
for i in driver.find_elements(By.XPATH,'//a[@class="title"]'):
    Quote.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="author"]'):
    Author.append(i.text)

for i in driver.find_elements(By.XPATH,'//div[@class="tags"]'):
    Quote_Type.append(i.text)

In [125]:
print(len(Quote),len(Author),len(Quote_Type))

300 300 300

In [126]:
next = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[13]/a')
next.click()

In [127]:
for i in driver.find_elements(By.XPATH,'//a[@class="title"]'):
    Quote.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="author"]'):
    Author.append(i.text)

for i in driver.find_elements(By.XPATH,'//div[@class="tags"]'):
    Quote_Type.append(i.text)

In [128]:
print(len(Quote),len(Author),len(Quote_Type))

400 400 400

In [129]:
next = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[13]/a')
next.click()

In [130]:
for i in driver.find_elements(By.XPATH,'//a[@class="title"]'):
    Quote.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="author"]'):
    Author.append(i.text)

for i in driver.find_elements(By.XPATH,'//div[@class="tags"]'):
    Quote_Type.append(i.text)

In [131]:
print(len(Quote),len(Author),len(Quote_Type))

500 500 500

In [132]:
next = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[13]/a')
next.click()

In [133]:
for i in driver.find_elements(By.XPATH,'//a[@class="title"]'):
    Quote.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="author"]'):
    Author.append(i.text)

for i in driver.find_elements(By.XPATH,'//div[@class="tags"]'):
    Quote_Type.append(i.text)

In [134]:
print(len(Quote),len(Author),len(Quote_Type))

600 600 600

In [135]:
next = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[13]/a')
next.click()

In [136]:
for i in driver.find_elements(By.XPATH,'//a[@class="title"]'):
    Quote.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="author"]'):
    Author.append(i.text)

for i in driver.find_elements(By.XPATH,'//div[@class="tags"]'):
    Quote_Type.append(i.text)

In [137]:
print(len(Quote),len(Author),len(Quote_Type))

700 700 700

In [138]:
next = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[13]/a')
next.click()

In [139]:
for i in driver.find_elements(By.XPATH,'//a[@class="title"]'):
    Quote.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="author"]'):
    Author.append(i.text)

for i in driver.find_elements(By.XPATH,'//div[@class="tags"]'):
    Quote_Type.append(i.text)

In [140]:
next = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[13]/a')
next.click()

In [141]:
for i in driver.find_elements(By.XPATH,'//a[@class="title"]'):
    Quote.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="author"]'):
    Author.append(i.text)

for i in driver.find_elements(By.XPATH,'//div[@class="tags"]'):
    Quote_Type.append(i.text)

In [142]:
print(len(Quote),len(Author),len(Quote_Type))

900 900 900

In [143]:
next = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[13]/a')
next.click()

In [144]:
for i in driver.find_elements(By.XPATH,'//a[@class="title"]'):
    Quote.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="author"]'):
    Author.append(i.text)

for i in driver.find_elements(By.XPATH,'//div[@class="tags"]'):
    Quote_Type.append(i.text)

In [145]:
print(len(Quote),len(Author),len(Quote_Type))

1000 1000 1000

In [146]:
import pandas as pd

In [147]:
Quotes = pd.DataFrame({'Quotes':Quote[0:1000],'Author':Author[0:1000],'Type of Quote':Quote_Type[0:1000]})

In [148]:
Quotes

,Quotes,Author,Type of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [21]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings("ignore")
import time

In [22]:
driver = webdriver.Chrome()

In [23]:
driver.get('https://www.jagranjosh.com/')

In [26]:
#Select GK option 
GK = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[1]/div/div[3]/div/div[1]/header/div[3]/ul/li[3]/a')
GK.click()

In [30]:
#Select list of prime ministers of India
List_of_PM_India = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
List_of_PM_India.click()

In [33]:
rows =driver.find_elements(By.XPATH,"//table/tbody/tr")

In [36]:
r = len(rows)
r

21

In [37]:
columns = driver.find_elements(By.XPATH,"//table/tbody/tr[1]/th")

In [38]:
c = len(columns)
c

5

In [45]:
Name = []
for i in driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[3]/table/tbody/tr[2]/td[2]'):
    Name.append(i.text)

In [46]:
Born_Dead = []
for i in driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[3]/table/tbody/tr[2]/td[3]/p'):
    Born_Dead.append(i.text)

In [47]:
Term = []
for i in driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[3]/table/tbody/tr[2]/td[4]/p[2]/span'):
    Term.append(i.text)

In [48]:
Remarks = []
for i in driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[3]/table/tbody/tr[2]/td[5]/p'):
    Remarks.append(i.text)

In [49]:
print(len(Name),len(Born_Dead), len(Term),len(Remarks))

1 1 1 1

In [ ]:
Name =[]

for (int rows =0

In [52]:
import pandas as pd

PM = pd.DataFrame({'Name':Name,'Born_Dead':Born_Dead,'Term':Term, 'Remarks':Remarks})
PM

,Name,Born_Dead,Term,Remarks
0,Jawahar Lal Nehru,(1889‚Äì1964),"16 years, 286 days",The first prime minister of India and the long...

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to type in the search bar ‚Äô50 most expensive cars‚Äô
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe.

In [2]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings("ignore")
import time

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get('https://www.motor1.com/')

In [5]:
#remove the pop up page
pop_up_page =driver.find_element(By.XPATH,'/html/body/div[20]/div[2]/div/div/div[2]/div/div/button')
pop_up_page.click()

In [6]:
#50 Most expensive cars

search = driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
search .send_keys('50 Most expensive cars')

In [10]:
search =driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
search.click()
time.sleep(5)

In [14]:
#Select 50 Most expensive cars in the world

Expensive_Cars = driver.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
Expensive_Cars.click()

In [15]:
Car_Name = []
for i in driver.find_elements(By.XPATH,'//h3[@class="subheader"]'):
    Car_Name.append(i.text)

In [53]:
Price = []

for i in driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[4]/strong'):
    Price.append(i.text)

In [54]:
print(len(Car_Name), len(Price))

51 0

In [17]:
import pandas as pd

In [18]:
Cars = pd.DataFrame({'Car Name':Car_Name[0:50]})

In [19]:
Cars

                           Car Name
0                     De Tomaso P72
1                 Ferrari LaFerrari
2                     Pagani Huayra
3                      McLaren Elva
4                       Czinger 21C
5                     Ferrari Monza
6                Gordon Murray T.33
7                 Koenigsegg Gemera
8                       Zenvo TSR-S
9                Hennessey Venom F5
10                  Bentley Bacalar
11    Hispano Suiza Carmen Boulogne
12           Bentley Mulliner Batur
13                     Deus Vayanne
14                      SSC Tuatara
15                      Lotus Evija
16              Aston Martin Vulcan
17                       Delage D12
18                McLaren Speedtail
19                     Rimac Nevera
20                    Pagani Utopia
21             Pininfarina Battista
22                Ferrari FXX K Evo
23               Gordon Murray T.50
24             Lamborghini Countach
25         Mercedes-AMG Project One
26              Aston Martin Victor
27      Hennessey Venom F5 Roadster
28                 Koenigsegg Jesko
29            Aston Martin Valkyrie
30        W Motors Lykan Hypersport
31                    McLaren Solus
32        Pagani Huayra Roadster BC
33         Bugatti Chiron Pur Sport
34                 Lamborghini Sian
35                 Koenigsegg CC850
36  Bugatti Chiron Super Sport 300+
37               Lamborghini Veneno
38                   Bugatti Bolide
39                  Bugatti Mistral
40              Pagani Huayra Imola
41                     Bugatti Divo
42              SP Automotive Chaos
43                 Pagani Codalunga
44         Mercedes-Maybach Exelero
45               Bugatti Centodieci
46          Bugatti Chiron Profil√©e
47             Rolls-Royce Sweptail
48         Bugatti La Voiture Noire
49           Rolls-Royce Boat Tail*